$black: #000;
$black-1: #1a1a1a;
$white: #fff;
$white-1: rgba(255, 255, 255, 0.5);
$white-2: rgba(255, 255, 255, 0.7);
$grey-1: #777777;
$grey-2: #d6d6d6;
$blue-1: rgb(35, 46, 84);
$linkHover: #fff;
$mainColor: #17b794;
$secondaryColor-1: #15a989;
$secondaryColor-2: #15a585;
$secondaryColor-3: #129377;
$secondaryColor-4: #13977a;
$secondaryColor-5: #118a6f;
