//gap
$gap-20: 1.25rem;
//padding
$padding-1: 0 0.9375rem;
$padding-2: 1.875rem 0.625rem;
$padding-3: 0.3125rem 0.625rem;
$padding-4: 1.25rem 0;
$padding-5: 7rem 0;
$padding-6: 0 0 0.625rem 0;
$padding-7: 0 0.625rem;
//margin
$margin-1: 0 0 1.25rem 0;
$margin-2: 0 0 1.875rem 0;
$margin-3: 0 0 0.9375rem 0;
$margin-4: 0 0 2.5rem 0;
//font size
$head-font: 3.6875rem;
//border
$border-1: 0.0625rem;
